body { padding-top:80px; }

.topbar .fill { height:80px; background:white; }
.topbar .logo img { margin-top:15px; }
.topbar .nav { float:right; }
.topbar li a { margin-top:17px; margin-left:20px; color:#2a497d; }
.topbar li a { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

.topbar li.active a { border:solid 1px #2a497d; border-top:none; border-bottom:none; }
.topbar li.active a, .topbar li.active:hover a { background:#2a497d !important; }
.topbar li a:hover { background:#4a699d !important; }

.main.container { margin-top:0px; padding-top:80px; background:url(img/_header_glow.png) top center no-repeat; }

.content { border:solid 1px #2a497d; background:url(img/bg-blue.png) #4a699d; color:white; text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 1px; }
.content { border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; }
.content { -moz-box-shadow: inset 0 10px 30px rgba(0,0,0,.1); -webkit-box-shadow: inset 0 10px 30px rgba(0,0,0,.1); box-shadow: inset 0 10px 30px rgba(0,0,0,.1); }

.content h1 { display:none; }
.content h2 { font-weight:normal; font-size:2em; font-style:italic; color:white; margin-top:0px; margin-bottom:10px; }
.content h2 + p { font-weight:normal; font-size:1.2em; }

footer { font-size:0.85em; color:#2a497d; }
footer a { color:#2a497d; }
footer div.span8 { }
footer aside.span8 { text-align:right; }
