html, body { width:100%; margin:0; font-family:"Helvetica",Arial,Sans-serif,Verdana; background:url(img/bg-white.png); }
body { font-size:0.625em; min-width:1200px; position:relative; }

.header { font-size:1.2em; padding:30px 0px; }
.header .aside { text-align:right; }
.header ul { float:right; list-style:none; font-weight:bold; }
.header li { float:left; padding:10px; background:white; border-radius:5px; margin-left:20px; }
.header li.selected, .header li:hover { background:#3b5487; color:white; border-radius:5px; text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 1px; }
.header li a { text-decoration:none; }
.header li.selected a, .header li:hover a { color:white; text-decoration:none; }

.article { background:url(img/bg-blue.png) #4a699d; border:solid 1px #2a497d; border-left:none; border-right:none; text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 1px; }
.article > div { background:url(img/bg-blue-shadow.png) top repeat-x; } 
.article .content { background:url(img/bg-blue-glow.png) top center no-repeat; padding:60px 0px; color:white; }
.article a { color:white; }

.footer { padding:20px 0px; font-size:1.1em; color:#2a497d; }
.footer .aside { text-align:right; }


.content { margin:0 auto; width:1000px; }


.two-col { display:table; }
.two-col div { display:table-cell; width:480px; padding-left:0px; padding-right:19px; }
.two-col div + .aside { display:table-cell; width:480px; padding-left:19px; padding-right:0px; }

.three-col { display:table; }
.three-col .aside { display:table-cell; width:318px; padding-right:19px; }
.three-col .aside + div { display:table-cell; width:300px; padding-left:19px; padding-right:19px; }
.three-col .aside + div + .aside { padding-left:19px; padding-right:0px; }


.article .two-col { margin-bottom:40px; }
.article .two-col div { border-right:solid 1px #203d6f; }
.article .two-col .aside { border-left:solid 1px #6284c0; border-right:none; }
.article .two-col .button { width:480px; height:30px; padding-top:13px; margin:10px 0px 15px 0px; }
.article .two-col .button+p { text-align:right; margin:0; font-size:1.3em; }

.article .three-col .aside { border-right:solid 1px #203d6f; }
.article .three-col .middle { border-left:solid 1px #6284c0; border-right:solid 1px #203d6f; }
.article .three-col .middle + .aside { border-left:solid 1px #6284c0; border-right:none; }


h1 { display:none; }
h2 { font-size:2.5em; margin:0px; font-weight:normal; font-style:italic; }
h3 { font-size:1.8em; margin:0px; font-weight:normal; font-style:italic; }
h2 + p { font-size; font-size:1.8em; margin-bottom:0px; }
hr { border:none; border-bottom:solid 1px #6284c0; border-top:solid 1px #203d6f; height:0px; margin:20px 0px; }

a { color:#203d6f; }
a img { border:none; }
a.button { text-decoration:none; }

.cred-buttons { font-size:1.2em; }
.cred-button { text-align:center; }
.cred-button form { margin-top:15px; }

.share-buttons { margin-left:280px; }
.share-buttons > div { float:left; width:150px; }
.share-buttons > div.googleplus { margin-left:40px; margin-top:-3px; }

.license { font-weight:bold; text-align:center; }

.fc:after { content:".";clear:both;display:block;visibility:hidden;height:0; }
* html .fc { height:1px; }

a.button
{
   text-align:center;
	
   width: 346px; 
   border: 1px solid #203d6f;
   
   color: #ffffff;
   padding:  6px 0;
   display: inline-block;
   text-decoration: none;
   
   font-size: 2.0em;
   text-shadow: rgba(0, 0, 0, 0.6) 0px -1px -1px;
   
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   
   box-shadow: inset 0px 2px 0px 0px #63779f;
   -moz-box-shadow: inset 0px 2px 0px 0px #63779f;
   -webkit-box-shadow: inset 0px 2px 0px 0px #63779f;

   background-color: #3b5487;
   background: -moz-linear-gradient( center top, #3b5487 50%, #203d6f 50% );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5487', endColorstr='#203d6f');
   background: -webkit-gradient( linear, left top, left bottom, color-stop(0.5, #3b5487), color-stop(0.5, #203d6f) );
}

a.button:hover,
a.button:focus
{
  outline:  0 none;
  box-shadow:  0px 0px 7px rgba(255, 255, 255, 0.5);  
  -moz-box-shadow:  0px 0px 7px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow:  0px 0px 7px rgba(255, 255, 255, 0.5);  
}

a.button:active {
  margin-top: 12px; 
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3b5487), color-stop(1, #203d6f) );
  background: -moz-linear-gradient( center top, #3b5487 5%, #203d6f 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5487', endColorstr='#203d6f'); 
}