body { }

h1, h2, h3, h1 + p {
   font-family: 'Molengo', Georgia, Times, serif;
}

h2 {
   font-size: 2.0em;
   border-bottom: 1px solid #EEE;
   margin-bottom: 1em; 
}

h2 i {
   margin-right: 1em;
}

h3 {
   font-size: 1.5em;
   font-weight: normal; 
   line-height: 30px;
}

h3 i {
   margin-right: 0.8em;
}

section {
   margin-top: 20px;
}

section + section {
   margin-top: 40px;
}


footer {
   background: url(../img/bg-blue.png) #4a699d;
   color: white;
   margin-top: 5em;
   padding: 2em 0 5em 0;
   text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px;
}


@media (max-width: 767px) {
   body { padding: 0px !important; }
   .container { padding-left: 20px; padding-right: 20px; }
}


div.top {
   height: 5px;
   background: #3b5487;
}


header a {
   color: #F89406; 
   text-decoration: none;
}

header a:hover {
   color: #Ffab3c; 
}


header {
   background: url(../img/bg-blue.png) #4a699d;
   color: white;
   text-align: center;
   text-shadow: rgba(0, 50, 96, 0.8) 2px 3px 2px;
}

header .container {
   padding-top: 80px;
   padding-bottom: 40px;
   background: url(../img/content_glow.png) top center no-repeat; 
}

header a {
   color: #F89406;
}

header h1 {
   font-size: 6em;
   font-weight: normal;
   margin-bottom: 0.6em;
}

header h1 + p {
   font-size: 2em;
   line-height: 1.2em;
}

header .buttons {
   margin: 3em 0 2em 0;
}

header .buttons .span4 {
   text-align: center;
   margin-bottom: 20px;
}

header .buttons .btn {
   font-size: 1.2em;
   width: 90%;
}

header .btn.download {  
}

header .btn.github {
   background: #3b5487;
}

header .btn.nuget {
}


/* Social well */

.social-links {
   text-align: center;
   background: #e3e3e3;
   padding: 10px 0;
}

.social-links .btn-mini + .btn-mini {
   margin-left: 2em;
}

.social-links .icon-large {
   margin-right: 0.5em;
}


/* Gratitude well */

.gratitude-links {
   text-align: center;
   color: white;
   background: #838383;
   padding: 20px 0;
}


.gratitude-links p {
   font-size: 0.9em;
   margin: 0;
}



#features h3 + p {
   margin-bottom: 30px;
}


/* Footer */

footer a {
   color: #F89406;
}

footer a:hover {
   color: #Ffab3c; 
}

footer i { 
   margin-right: 1em; 
}