@model DemoModel

@Model.GetTypeSummary(typeof(CrossThreadTestRunner))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
[Test]
public void RunInSTA_ShouldWorkJustAboutRight()
{
  runner.RunInSTA(delegate {
    var checkBox = new CheckBox { IsChecked = true };
  
    Assert.That(checkBox.IsChecked.Value, Is.True);
  });
}</pre>
</div>