@model DemoModel

@Model.GetTypeSummary(typeof(FakeMembershipUser))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var fakeUser = new FakeMembershipUser();</pre>
</div>