@model DemoModel

@Model.GetTypeSummary(typeof(RolesFacade))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var facade = new RolesFacade();

facade.AddUserToRole("daniel", "admins", true);
facade.RemoveUserFromRole("daniel", "admins");</pre>
</div>