@model DemoModel

@Model.GetTypeSummary(typeof(FormsAuthenticationFacade))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var facade = new FormsAuthenticationFacade();

facade.SignIn("daniel", true);
facade.SignOut();</pre>
</div>