@model DemoModel

@Model.GetTypeSummary(typeof(GlobalResourceHelper))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
@@Html.GlobalResource(Resources.Language.CodeSample) => "@Html.GlobalResource(Resources.Language.CodeSample)"</pre>
</div>