@model DemoModel

@{
    var replacer = new HtmlReplacer();
    var html = "<p class='div'><span>Test</span></p>";
}

@Model.GetTypeSummary(typeof(HtmlReplacer))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var replacer = new HtmlReplacer();
var html = "&lt;p class='div'&gt;&lt;span&gt;Test&lt;/span&gt;&lt;/p&gt;";

replacer.ReplaceHtmlElement(html, "p", "div") => "@replacer.ReplaceHtmlElement(html, "p", "div")"</pre>
</div>