@model DemoModel

@Model.GetTypeSummary(typeof(MetadataRegistrator))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
MetadataRegistrator.Register();
MetadataRegistrator.Register(typeof(MyMetadataTypeExtendedClass).Assembly);
MetadataRegistrator.Register(typeof(MyMetadataTypeExtendedClass));</pre>
</div>