@model DemoModel

@{
    var extractor = new XmlDocumentationHandler();
    var type = typeof(DemoModel);
    var documentation = extractor.ExtractTypeXmlDocumentation(type);

    var summary = documentation.GetElementInnerText("summary");
    var remarks = documentation.GetElementInnerText("remarks");
}

@Model.GetTypeSummary(typeof(XmlElementExtensions))

<p>@Html.GlobalResource(Resources.Language.CodeSample):</p>

<div class="container code">
  <pre>
var extractor = new XmlDocumentationHandler();
var type = typeof(DemoModel);
var documentation = extractor.ExtractTypeXmlDocumentation(type);

var summary = documentation.GetElementInnerText("summary");
var remarks = documentation.GetElementInnerText("remarks");

summary => @Json.Encode(summary)
remarks => @Json.Encode(remarks)</pre>
</div>