.align-center { text-align: center; }
.align-right { text-align: right; }
.em { font-style: italic; }
.hidden { display: none; }
.no-margin { margin: 0px !important; }
.no-margin-top { margin-top: 0px !important; }
.no-margin-bottom { margin-bottom: 0px !important; }
.small-margin-bottom { margin-bottom: 5px !important; }
.small-text { font-size: 0.6em; }
.strong { font-weight: bold; }
.underlined { text-decoration: underline; }

.box-top { height: 8px; background: url(../Images/box-top.png) repeat-x; }
.box-top.two { background: url(../Images/box-top-two.png) repeat-x; }
.box-top.three { background: url(../Images/box-top-three.png) repeat-x; }
.box-top.four { background: url(../Images/box-top-four.png) repeat-x; }

.box { margin-bottom: 10px; border-bottom: solid 2px #e6e6e6; background: white; padding: 5px; text-align: center; font-size: 1em !important; }
.box-top + .box { margin-bottom: 0px; border: none; padding: 5px; }
.box .ingress { text-align: left; padding-left: 5px; }
.box > img { margin-top: 5px; }

.box-bottom { height: 15px; margin-bottom: 10px; background: url(../Images/box-btm.png) repeat-x; }
.box-bottom.two { background: url(../Images/box-btm-two.png) repeat-x; }
.box-bottom.three { background: url(../Images/box-btm-three.png) repeat-x; }
.box-bottom.four { background: url(../Images/box-btm-four.png) repeat-x; }

.boxGroup  { margin-left: -18px; }
.boxGroup > div { float: left; margin-left: 18px; }
.boxGroup.two > div { width: 441px;  }
.boxGroup.three > div { width: 288px;  }

.columns > div { float: left; }
.columns > .left  { width: 409px; padding-right: 20px; border-right: solid 1px #ddd; }
.columns > .right  { width: 409px; padding-left: 20px; border-left: solid 1px #ddd; margin-left: -1px; }

.columns.wide-left > .left  { width: 509px; }
.columns.wide-left > .right  { width: 309px; }
.columns.wide-right > .left  { width: 309px; }
.columns.wide-right > .right  { width: 509px; }

.container { background: #F3F3F1; padding: 10px; border: solid 1px #ddd; border-left-color: #e5e5e5; border-right-color: #e5e5e5; border-bottom-color: #e5e5e5;  }
.container .box { margin-bottom: 20px; border: solid 1px #ddd; background: white; border-left-color: #eee; border-right-color: #eee; border-top: none; padding: 10px; text-align:center; }
.container .box:last-of-type { margin-bottom: 0px; }
.container.input input {  width: 400px; }
.container.input select { width: 405px; height: 22px; }
.container.input.short input {  width: 205px; }
.container.input.three  input { width: 127px; }
.container.input.two  input { width: 200px; }
.container + p { margin-top: 25px; }
p + .container { margin-top: -10px; }

.frame { border: solid 1px #ddd; padding: 10px; margin: 15px 0px; }
.frame.striped { background: url(../Images/bg-lines-soft.png); }
.frame.download > div { padding-left: 50px; background: url(../Images/download.png) left no-repeat; }
/*.frame.striped.download { border: solid 1px #fa0; background: url(../Images/bg-lines-soft-y.png); }*/

.page-link { text-decoration: none !important; font-style:normal !important; font-size:0.8em; }
.page-link.current { text-decoration: underline !important; }

.watermark { color: #777; }



#features { background: none !important; }
#features li { padding: 5px 0px 5px 30px; background: url(../Images/tick.png) left no-repeat; }


.fc:after, .boxGroup:after { content:".";clear:both;display:block;visibility:hidden;height:0; }
* html .fc, * html .boxGroup { height:1px; }
