html, body { margin: 0px; padding: 0px; background: url(../Images/bg-lines.gif) repeat; color: #222; }
body,h1,h2,h3,h4,p,table,td,th,ul,ol,textarea,input { font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; }
body { font-size: 0.625em; }

a { color: black; text-decoration: none; }
a img { border: none; }
#main-body .right a, a.em { text-decoration: underline; font-style: italic; }

pre { overflow: auto; overflow-x: auto; overflow-y: hidden;  }

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }

hr { margin:25px 0px; height:3px; border:none; background: url(../Images/ul-clean-bg.png) bottom repeat-x; }

input[type="text"] { width: 40%; }

nav, .nav { padding: 10px; text-align:center; }
nav { border: solid 1px #15710E; background: #35912E; }
.nav { border: solid 1px black; background: #FF0000; }

p { font-size: 1em; }
p.ingress { margin-top: 0px; font-family: georgia,"times new Roman",serif; font-style: italic; }
p.ingress { font-size: 1.3em; line-height: 1.3em; }

pre { margin: 0px; line-height: 1.2em; font-size: 12px; }

ul.horizontal, ul.clean { margin: 0px; padding: 0px; list-style: none; }
ul.horizontal li { float: left; }

ul.clean { background: url(../Images/ul-clean-bg.png) top no-repeat; }
ul.clean li { padding: 3px; background: url(../Images/ul-clean-bg.png) bottom no-repeat; }
ul.clean li.separator { height: 4px; overflow: hidden; font-size: 0.01em; color: white; background: url(../Images/ul-clean-sep-bg.png); }